%h2 Section 1
= form_tag section1_path(@form), :method => :post do

    %div{:class => 'form-group'}
        = label :section1, :project_name, 'Project Name'
        = text_field :section1, :project_name, :class => 'form-control'
        
    %div{:class => 'form-check'}
        = radio_button :section1, :full_board, "Full Board", :class => 'form-check-input'
        = label :section1, :full_board, 'Full Board (greater than minimal risk to humans or non-human animals, use of hazardous materials, any greater than minimal risk to society or the environment)', :class => 'form-check-label'
    %div{:class => 'form-check'}
        = radio_button :section1, :expedited_review, "Expedited Review", :class => 'form-check-input'
        = label :section1, :full_board, 'Expedited Review (less than minimal risk to humans, non-human animals, and the environment)', :class => 'form-check-label'
    %div{:class => 'form-check'}
        = radio_button :section1, :exempt_review, "Exempt Review", :class => 'form-check-input'
        = label :section1, :full_board, '(no risk to humans, non-human animals, society, or the environment)', :class => 'form-check-label'
    
    = submit_tag "Submit", :class => 'btn btn-primary'
    
    