-# Ethan Widen - 2/25/18
%h1 All IRB forms
#flash-display
    - flash.each do |type, msg|
        %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
            %button.close &times;
            = msg if msg.is_a?(String)
%table#forms.table
    %thead
        %tr
            %th Project Name
            %th Purpose
            %th Human IRB Form?
            %th Edit Section 1
            %th Edit Section 2
            %th Edit Section 3
            %th Edit Section 4
            %th Edit Section 5
    %tbody
        - @forms.each do|form|
        - section1 = form.section1
            %tr
                - #byebug
                %td= section1.project_name
                %td= section1.approval_type
                %td= form.human
                %td= link_to "Edit", edit_section1_path(form)
                %td= link_to "Edit", edit_section2_path(form)
                %td= link_to "Edit", form.human == "true" ? edit_section3_path(form) : edit_section3animal_path(form)
                %td= link_to "Edit", form.human == "true" ? edit_section4_path(form) : edit_section4animal_path(form)
                %td= link_to "Edit", edit_section5_path(form)

%p        
    = link_to 'New Human IRB Form', generate_form_path({human: true})
%p
    = link_to 'New Non-Human Animal IRB Form', generate_form_path({human: false})