-# Ethan Widen - 2/25/18
%h1 All IRB forms
#flash-display
    - flash.each do |type, msg|
        %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
            %button.close &times;
            = msg if msg.is_a?(String)
%table#forms.table
    %thead
        %tr
            %th Project Name
            %th Purpose
            %th Edit
    %tbody
        - @forms.each do|form|
            %tr
                %td= form.project_name
                %td= form.purpose
                %td= link_to "Edit #{form.project_name}", edit_form_path(form)
                
= link_to 'Add new form', new_form_path