-# Ethan Widen - 2/25/18
%h1 All IRB forms
#flash-display
    - flash.each do |type, msg|
        %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
            %button.close &times;
            = msg if msg.is_a?(String)
%table#forms.table
    %thead
        %tr
            %th Project Name
            %th Purpose
            %th Edit Section 1
            %th Edit Section 2
            %th Edit Section 3
            %th Edit Section 4
            %th Edit Section 5
    %tbody
        - @forms.each do|form|
            %tr
                %td= form.section1.project_name
                %td= form.section1.purpose
                %td= link_to "Edit", edit_section_1(form)
                %td= link_to "Edit", edit_section_2(form)
                %td= link_to "Edit", edit_section_3(form)
                %td= link_to "Edit", edit_section_4(form)
                %td= link_to "Edit", edit_section_5(form)
                
= link_to 'Add new form', new_section1_path